body {
  overflow:hidden;
}

*::selection {
  background:transparent;
}

*,
*:active,
*:hover
*:link,
*:visited {
  cursor: url(/cursor.png), none !important;
}

selector { cursor: none; }

*::-moz-selection {
  background:transparent;
}

*::-webkit-selection {
  background:transparent;
}


.app
.map-container,
.copy,
.timeline,
.timeline-indicator,
.screensaver-message,
.dev {
  position: fixed;
}

.app,
.timeline-container,
.map-container {
  width:1920px;
  height: 1080px;
  display: block;
}

.map-container {
  background-image: url('/montage.jpg');
  background-position-x: 0px;
}

.screensaver-message {
  font-family: "Gill Sans";
  font-style: normal;
  color: black;
  top: 160px;
  left: 210px;
  width: 540px;
  background: #a28662;
  border: 2px solid #7D684B;
  z-index: 999;
  padding: 20px;
  transition: opacity .25s ease-in;
  box-shadow: 0px 0px 8px 8px rgba(255,255,255,.15);
}

.screensaver-message hr {
  width: 70%;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #7D684B;
  margin: 1em auto;
  padding: 0;
}

.screensaver-message span.title {
  display: block;
  font-size: 78px;
  font-style: bold;
  text-align: center;
}

.screensaver-message span.instructions {
  display: block;
  font-size: 45px;
  text-align: center;
}

.dev {
  top: 50px;
  right: 50px;
  width: 300px;
  height: 300px;
  min-height: 300px;
  background: grey;
  opacity: .8;
  size: 20px;
  color: white;
}

.timeline {
  background-image: url('/timeline.png');
  background-repeat: no-repeat;
  background-position: 0 30px;
  width: 1720px;
  bottom: 80px;
  left: 100px;
  min-height: 80px;
}

.timeline-indicator {
  background-image: url('/button.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 120px;
  height: 112px;
  /*background: brown;*/
  bottom: 65px;
  left: 100px;
  opacity: .9;
}
